.login-section {
    text-align: center;
    margin-top: 10%;
}

#login-modal,
#register-modal {
    text-align: center;
}

.modal input {
    text-align: center;
}

#register-modal input {
    width: 65%;
}

#login-modal-submit {
    margin: 10px;
}

.demo-info {
    line-height: 0;
    margin: 1.5em;
}

.row {
    margin: 0;
    padding: 0;
}


footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}